<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

	   <bean id="xml1" class="kr.co.softcampus.beans.TestBean1" lazy-init="true">
	   		<constructor-arg value="100" type="int" index="0" />
	   		<constructor-arg><value>문자열1</value></constructor-arg>
	   		<constructor-arg ref="data_bean1" index="2" />
	   </bean>
	   
	   <bean id="xml2" class="kr.co.softcampus.beans.TestBean1" lazy-init="true" >
	   		<property name="data1" value="300" />
	   		<property name="data2"><value>문자열3</value></property>
	   		<property name="data3" ref="data_bean1" />
	   </bean>
	   
	   <bean id="data_bean1" class="kr.co.softcampus.beans.DataBean1" scope="prototype" />
	   
	   <bean id="xml3" class="kr.co.softcampus.beans.TestBean2" lazy-init="true" autowire="byName" />
	   
	   <bean id="data1" class="kr.co.softcampus.beans.DataBean2" scope="prototype" />
	   <bean id="data2" class="kr.co.softcampus.beans.DataBean2" scope="prototype" />
	   
	   <bean id="xml4" class="kr.co.softcampus.beans.TestBean3" lazy-init="true" autowire="byType" />
	   
	   <bean class="kr.co.softcampus.beans.DataBean3" scope="prototype" />
</beans>