<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd
	   					   http://www.springframework.org/schema/context
	   					   http://www.springframework.org/schema/context/spring-context.xsd">
	   <context:annotation-config />
	   
	   <!-- 지정된 패키지 안에 있는 Bean 클래스들의 어노테이션을 분석하도록 지정한다 -->
	   <!-- 여러 패키지에 스캔할 Bean들이 포진해있다면 여러개를 별도로 지정하면 된다. -->
	   <context:component-scan base-package="kr.co.softcampus.beans2" />
	   <context:component-scan base-package="kr.co.softcampus.beans3" />
	   
	   <bean class="kr.co.softcampus.beans.TestBean1" lazy-init="true" />
	   <bean id="xml2" class="kr.co.softcampus.beans.TestBean2" lazy-init="true" />
	   <bean id="xml3" class="kr.co.softcampus.beans.TestBean2" lazy-init="true" />
	   
	   <bean id="xml100" class="kr.co.softcampus.beans2.TestBean4" lazy-init="true" />
	   <bean id="xml200" class="kr.co.softcampus.beans2.TestBean4" lazy-init="true" />
</beans>